<div class="row">
    <div class="col-md-12">
        <ejs-treegrid [dataSource]='data' id="treegridcomp"  [treeColumnIndex]='1' childMapping='subtasks' [allowPaging]='true'
            [contextMenuItems]="contextMenuItems" [editSettings]='editing' [showColumnChooser]='true'
            allowSorting='true' [toolbar]="toolbar" [editSettings]='editing'>
            <e-columns>
                <e-column field='taskID' headerText='Task ID' textAlign='Right' width=70></e-column>
                <e-column field='taskName' headerText='Task Name' textAlign='Left' editType='stringedit' width=200>
                </e-column>
                <e-column field='startDate' headerText='Start Date' textAlign='Right' editType='datepickeredit'
                    format='yMd' width=90></e-column>
                <e-column field='duration' headerText='Duration'  [edit]='editparams'  textAlign='Right' editType='numericedit' width=80>
                </e-column>
            </e-columns>
        </ejs-treegrid>
    </div>
</div>