<div class="row">
  <div class="col-md-12">
    <ejs-treegrid [dataSource]='data' id="treegridcomp" [treeColumnIndex]='1' childMapping='children' #treegrid idMapping="id" parentIdMapping="parentId" 
      [allowPaging]='true' [contextMenuItems]="contextMenuItemsModel" [editSettings]='editing' [showColumnChooser]='true'
      [selectionSettings]='selectionSettings' allowSorting='true' [toolbar]='toolbarOptions' (contextMenuClick)='contextMenuClick($event)'  (contextMenuOpen)='contextMenuOpen($event)' >
      <e-columns >
        <e-column type='checkbox' width='7%'></e-column>
        <e-column field='id' headerText='Item ID' textAlign='Right' width='7%'></e-column>
        <e-column field='balance' headerText='Balance' textAlign='Right' width='7%'></e-column>
        <e-column field='age' headerText='Age' textAlign='Right' width='7%'></e-column>
        <e-column field='eyeColor' headerText='Eye Color' textAlign='Right' [edit]='editparams' editType='stringedit'> width='7%'></e-column>
        <e-column field='name' headerText='Name' textAlign='Right' [edit]='editparams' editType='stringedit'> width='7%'></e-column>
        <e-column field='gender' headerText='Gender' textAlign='Right' width='7%'></e-column>
        <e-column field='company' headerText='Company' textAlign='Right' [edit]='editparams' editType='stringedit'> width='7%'></e-column>
        <e-column field='email' headerText='Email' textAlign='Right' [edit]='editparams' editType='stringedit'> width='7%'></e-column>
        <e-column field='phone' headerText='Phone' textAlign='Right' width='7%'  [edit]='editparams'  editType='stringedit'></e-column>
        <e-column field='address' headerText='Address' textAlign='Right' width='7%'></e-column>
      </e-columns>
    </ejs-treegrid>
  </div>
</div>
